#{{warning}}{{! This is a template }}

# All folders everywhere are considered static unless defined as dynamic
# Thus, files from everywhere could can be "static", but they must be explicitly
# listed file extensions. Files for extensions not listed here, will not be served.

# Thus you are free to put "static" content anywhere you want, including the root
# folder, but don't forget to add extensions to the static handlers source file
# and regenerate the yaml file that is actually included into app.yaml

# The extensions are inserted into a url regex pattern that will look like this:
# (?:^/   insures that nothing is captured if some part fails and consumes leading slash
#   (static|another_static)/   list of all folders under root folder that are not dynamic prefixes
#   (.+\.(html|htm))   the extension(s)
# )

# FYI: default static content expiration is set in app.yaml and is usually days long

handlers:

{{! we get 2 handlers defined for each group of extensions because there is no non-insane way of combining the two}}
{{#extensions}}{{#static_prefix}}
  {{! static extensions for files within these root folders }}
- url: (?:^/(({{{static_prefix}}})/.+\.({{{extension}}}))$)
  static_files: \1
  upload: (?:^(({{{static_prefix}}})/.+\.({{{extension}}}))$){{#has_expiration}}
  expiration: "{{{expiration}}}"{{/has_expiration}}{{#has_http_headers}}
  http_headers:{{#http_headers}}
    {{key}}: "{{{value}}}"
  {{/http_headers}}{{/has_http_headers}}

{{/static_prefix}}
  {{! same static extensions for files in root folder }}
- url: (?:^/([^/]+\.({{{extension}}}))$)
  static_files: \1
  upload: (?:^([^/]+\.({{{extension}}}))$){{#has_expiration}}
  expiration: "{{{expiration}}}"{{/has_expiration}}{{#has_http_headers}}
  http_headers:{{#http_headers}}
    {{key}}: "{{{value}}}"
  {{/http_headers}}{{/has_http_headers}}

{{/extensions}}

# converting static (/.+)?/ requests into (/.+)?/index.html.
{{#static_prefix}}
# One for subfolders of static folders
- url: (?:^/(({{{static_prefix}}})(/.+)?)/$)
  static_files: \1/index.html
  upload: (?:^(({{{static_prefix}}})(/.+)?)/index\.html$){{#has_html_expiration}}
  expiration: "{{{html_expiration}}}"{{/has_html_expiration}}{{#has_html_http_headers}}
  http_headers:{{#html_http_headers}}
    {{key}}: "{{{value}}}"
  {{/html_http_headers}}{{/has_html_http_headers}}
{{/static_prefix}}
# and one for / to /index.html conversion
- url: /
  static_files: index.html
  upload: index\.html{{#has_html_expiration}}
  expiration: "{{{html_expiration}}}"{{/has_html_expiration}}{{#has_html_http_headers}}
  http_headers:{{#html_http_headers}}
    {{key}}: "{{{value}}}"
  {{/html_http_headers}}{{/has_html_http_headers}}
